<div align="center" style="margin-left:50px;margin-right:50px" *ngIf="!wasSubmitted">
    <form (ngSubmit)="onSubmit()" createForm="ngForm">
        <div class="form-group">
          <label for="authorFirst">Author First:</label>
          <input id="authorFirst" type="text" class="form-control" aria-describedby="helpAuthorFirst" placeholder="Enter the author's first name" 
            required [(ngModel)]="quote.authorFirst" name="authorFirst">
        </div>
        <div class="form-group">
            <label for="authorLast">Author Last:</label>
            <input id="authorLast" type="text" class="form-control" aria-describedby="helpAuthorLast" placeholder="Enter the author's last name" required [(ngModel)]="quote.authorLast" name="authorLast">
          </div>
        <div class="form-group">
            <label for="text">Text</label>
            <textarea id="text" rows="3" class="form-control" aria-describedby="helpText" placeholder="Enter the quote text" required [(ngModel)]="quote.text" name="text"></textarea>
         </div>
        <div class="form-group">
            <label for="comments">Comments</label>
            <textarea id="comments" rows="3" class="form-control" aria-describedby="helpComments" placeholder="Enter comments" [(ngModel)]="quote.comments" name="comments"></textarea>
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <input id="tags" type="text" class="form-control" aria-describedby="helpTags" placeholder="Enter the tags you wish to use" [(ngModel)]="quote.tags" name="tags">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div  *ngIf="wasSubmitted">
    Quote was added successfully.
</div>   